@model MusicLibrary.Models.Disk

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Disc details</title>
</head>

<body>
    <div>
        <h3>Details for @ViewBag.Disks.Name</h3>
        <p>Date: @ViewBag.Disks.Date</p>
        <p>Available: @ViewBag.Disks.Available</p>
        <!-- Другие детали о диске, которые вы хотите отобразить -->
    </div>
</body>
</html>