@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width-device-width" />
        <title>List of discs in the music library:</title>
    </head>

    <body>
        <div>
            <h3>:</h3>
            <table>
                <tr>
                    <td><p>Name</p></td>
                    <td><p>Date</p></td>
                    <td><p>Available</p></td>
            </tr>
            @foreach (var obj in ViewBag.Disks)
            {
                <tr>
                    <td><p><a href="@Url.Action("DiscView", "Home", new { id = obj.Id })">@obj.Name</a></p></td>
                    <td><p>@obj.Date</p></td>
                    <td><p>@obj.Available</p></td>
                    <td><p><a href="/Home/Take/@obj.Id">Take</a></p></td>
                </tr>
            }
            </table>
        </div>
    </body>
</html>
