@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        div {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h3 {
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>

<body>
    <div>
        <h3>Genre Details for @ViewBag.Genre.Name</h3>
        <p>Name: @ViewBag.Genre.Name</p>
        <p>Description: @ViewBag.Genre.Description</p>
        <a href="@Url.Action("Index", "Home")">Home</a>
    </div>
</body>
</html>